manifest{
    mainScript = '../main.nf'
}

process {
    conda = '../env.yml'
    cpus = Runtime.runtime.availableProcessors()
} 



params {
    input_csv = '../test_files'
    database = '../test_files/virus_subset.fa'
    hostgenesbaits = "../test_files/filter_subset.fa"
    dbmetadata = "../test_files/virus_subset.csv"
    mode = "blastx"
    rangejunction = 100
    length = 10000
    merge_level = "genus"
    limit = 1
    clean_masked = false
    mask_per = 50
    flank = 10000
}